{% extends "base_generic.html" %}

{% block content %}
  <h2>Cadastrar</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
        <label for="{{ form.username.id_for_label }}">Lojista:</label>
        {{ form.username }}
        {% if form.username.errors %}
            <p style="color: red;">{{ form.username.errors.as_text }}</p>
        {% endif %}
    </div>
    <div>
        <label for="{{ form.password1.id_for_label }}">Senha:</label>
        {{ form.password1 }}
        {% if form.password1.errors %}
            <p style="color: red;">{{ form.password1.errors.as_text }}</p>
        {% endif %}
    </div>
    <div>
        <label for="{{ form.password2.id_for_label }}">Confirmar Senha:</label>
        {{ form.password2 }}
        {% if form.password2.errors %}
            <p style="color: red;">{{ form.password2.errors.as_text }}</p>
        {% endif %}
    </div>
    <!-- Add additional fields here in the same pattern -->
    <button type="submit">Cadastrar</button>
  </form>
{% endblock %}
