{% extends "base_generic.html" %}

{% block content %}
<div>
    <h2>Adicionar Produto</h2>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Adicionar Produto</button>
    </form>
  <a href="{% url 'landing_page' %}"><button>Voltar ao início</button></a>
    {% for product in products %}
    <div>
        <h3>{{ product.name }}</h3>
        <p>{{ product.description }}</p>
        <p>${{ product.price }}</p>
        <p>Categoria: {{ product.category }}</p>
        {% if product.image %}
            <img src="{{ product.image }}" alt="{{ product.name }}" style="width: 100px; height: auto;">
        {% else %}
            <p>Imagem não encontrada</p>
        {% endif %}
        <a href="{% url 'product_delete' product.id %}">Deletar</a>
    </div>
    {% endfor %}
</div>
{% endblock %}
