{% extends "base_generic.html" %}

{% block content %}
<h2>Product List</h2>
<div>
  <a href="{% url 'product_add' %}">Adicionar Produto</a>
  <a href="{% url 'landing_page' %}"><button>Voltar ao início</button></a>
    {% for product in products %}
    <div>
        <h3>{{ product.name }}</h3>
        <p>{{ product.description }}</p>
        <p>${{ product.price }}</p>
        <p>Category: {{ product.category }}</p>
        {% if product.image %}
            <img src="{{ product.image }}" alt="{{ product.name }}" style="width: 100px; height: auto;">
        {% else %}
            <p>Imagem não encontrada</p>
        {% endif %}
        <a href="{% url 'product_delete' product.id %}">Deletar</a>
    </div>
    {% endfor %}
</div>
{% endblock %}
